.titleContent{
    margin-top: 25px;
}

.tableSpace{
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 5px;
    margin-bottom: 10%;
}

h2{
  text-align: center;
}

.ganttDiagram{
  align-content: center;
  text-align: center;
  padding-bottom: 25px;
  padding-left: 7%;
  padding-right: 7%;
}